@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.hero {
    padding: 0 80px 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 80%;
    margin:auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px ;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}

.image-placeholder {
    height: 300px;
    width: auto;
}

.image-header {
    height: 300px;
    width: auto;
}

.container-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
}

.hero-button {
    width: 120px;
    padding: 8px 16px;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: 900;
    border-style: none;
    margin-top: 8px;
}


/* FIM DO CABEÇALHO */

.information {
    padding: 50px;
}

.header-information {
    margin-bottom: 30px;
}


.container-info {
    display: flex;
    justify-content: center;
    gap: 60px;
    
}
.info {
    height: 300px;
    width: 150px;
}

.info-image {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: 4px solid #3882f6;
}

.text {
    text-align: center;
}

/* FIM DO INFORMATION */



.hero,
.footer {
    background-color: #1f2937;
    
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text,
.header-link,
.call-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

button, 
.action {
    background-color: #3882f6;
}

.header-information {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px; 
}

.container-quote {
    display: flex;
    flex-direction: column;  
}

.quote-text {
    font: italic 300 36px "Roboto", sans-serif;
    color: #1f2937;
    max-width: 820px;
}

.quote-author {
    align-self: flex-end;
    font-weight: 700;
}
 
/* FIM DO INFORMATION */

.action-body {
    height: 400px;
    display: flex;
    width: 100%;
    align-items: center; /*Centraliza o layout de ação.*/
}


.action {
    width: 50%;
    margin: 0 auto;
    padding: 40px 80px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}

.call-title,
.call-button {
    color: #e5e7eb;
}

.call-title {
    font-size: 25px;
    font-weight: 700;
}

.call-button {
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 5px 30px;
    
}

.footer {
    height: 72px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}